html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;border: 0;}
div, span, article, section, header, footer, p, ul, li, label{ box-sizing: border-box;}
body{font-size: 1.5rem;}
.container{
  display: grid;

  /* 여백이 생김*/
  /* grid-template-columns: 40% 60%; */

  /* 여백이 안생김 fr을 더 많이 씀*/
  /* grid-template-columns: 4fr 6fr; */

  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-columns: repeat(3, 3fr); */

  /* 1개는 고정*/
  /* grid-template-columns: 200px 1fr; */

  /* grid-auto-rows: 200px; */
  /* grid-auto-rows: minmax(200px, auto); */
  grid-auto-rows: minmax(10em, auto);

  /* justify-items: end; */
  /* align-items: end; */

  grid-gap: 1rem;
  background: lightgray;
}

.item {
  background: rgba(255, 0, 0, 0.5);
}

.item:nth-child(1) {
  grid-column: 1/4;
}

.item:nth-child(4) {
  /* justify-self: center;
  align-self: center; */
  background: rgba(255, 0, 0, 0.5);
}

.item:nth-child(4) {
  grid-column: 3; /* 4번째 요소가 컬럼 3에서 시작하고 2~4까지 합친다.*/
  grid-row: 2/4;
}

.item:nth-child(9) {
  grid-column: 3; /*4에 침범*/
  grid-row: 3/5;
}

.item:nth-child(odd){
  background: rgba(255, 255, 0, 0.5);
}


.test-img{
  width: 100px;
  height: 100px;
}
