html,body{
	margin:0; padding:0;
	width:100%; height:100%
}
.wrapper{
	box-sizing: border-box; /* 이게 들어가는게 맞는듯... */
	height: auto;
	min-height: 100%;
	padding-bottom: 60px;
}
footer{
	height:60px;
	background: #333;
	color:#fff;
	position: relative;
	transform: translateY(-100%);
}