@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

::selection {
  color: #FFF;
  text-shadow: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}

body {
  font-family: 'Noto Sans KR', 'Open Sans', sans-serif;
  background-color: #fff;
  margin: 0;
  line-height: 1.5;
  color: #333;
  font-size: 16px;
}

img {
  vertical-align: middle;
  max-width: 100%;
  overflow-clip-margin: content-box;
  overflow: clip;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a img {
  border: none;
}

dl, dt, dd, ol, ul, li {
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

#gotoTop {
  z-index: 599;
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 1.25rem;
  line-height: 40px;
  text-align: center;
  color: #fff;
  top: auto;
  left: auto;
  cursor: pointer;
  border-radius: 2px;
  right: 30px;
  bottom: 10px;
  visibility: hidden;
  opacity: 0;
  margin-top: 15px;
  transition: opacity .3s ease, bottom .3s ease;
}

#gotoTop.showTop{
  bottom: 20px;
  visibility: visible;
  opacity: 1;
}


#header{
  border: 0;
  color: #EEE;
  position: relative;
  z-index: 199;
  background: transparent;
}

#header #header-wrap{
  width: 100%;
  position: fixed;
  height: auto;
  transition: height .2s ease 0s, background-color .3s ease 0s;
  backface-visibility: hidden;
  will-change: left, top, transform;
  z-index: 299;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: transparent;
  border-bottom-color: rgba(255,255,255,0.15);
}



#header #header-wrap .container{
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: none;
  padding: 0 30px;
}

#header #header-wrap .container .header-row{
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: initial;
}

#header #header-wrap .container .header-row #logo{
  border-right: 0 !important;
  margin-right: 3rem !important;
  position: relative;
  display: flex;
  align-items: center;
  max-height: 100%;
  padding-right: 0px;
  opacity: 1;
  transition: padding .4s ease, margin .4s ease, opacity .2s .2s ease;
  border-color: rgba(255,255,255,0.15);
}

#header #header-wrap .container .header-row #logo a{
  width: 100%;
  font-size: 36px;
  color: #FFF;
}



#header #header-wrap .container .header-row #logo a.standard-logo{
  display: flex;
}

#header #header-wrap .container .header-row #logo a.retina-logo {
  display: none;
}


#header #header-wrap .container .header-row #logo img {
  display: block;
  max-width: 100%;
  transition: height .4s ease, padding .4s ease, margin .4s ease, opacity .3s ease;
  max-height: 100%;
  height: 100px;
}

#header #header-wrap .container .header-row .primary-menu{
  margin-right: auto !important;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  flex-grow: 0;
  opacity: 1;
  transition: padding .4s ease, margin .4s ease, opacity .2s .2s ease;
}

#header #header-wrap .container .header-row .primary-menu .menu-container{
  border-right: 0;
  margin-right: 0;
  padding-right: 0;
  list-style: none;
  margin: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: rgba(255,255,255,0.2);
}

#header #header-wrap .container .header-row .primary-menu .menu-container .menu-item{
  position: relative;
}

#header #header-wrap .container .header-row .primary-menu .menu-container .menu-item .menu-link{
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  transition: margin .4s ease, padding .4s ease;
  padding: 50px 15px;
  font-size: 1.1rem;
  font-weight: 500;
  color: #F7F7F7;
}





#header #header-wrap .container .header-row .primary-menu .menu-container .menu-item .sub-menu-container{
  list-style: none;
  margin-bottom: 0;
  position: absolute;
  visibility: hidden;
  background-color: #FFF;
  box-shadow: 0px 13px 42px 11px rgba(0, 0, 0, 0.05);
  border: 1px solid #eeeeee;
  border-top: none;
  top: 100%;
  left: 0;
  padding: 10px;
  width: 220px;
  z-index: 1;
  opacity: 0;
  margin-top: 15px;
  transition: opacity .3s ease, margin .4s ease;
}

#header #header-wrap .container .header-row .primary-menu .menu-container .menu-item .sub-menu-container .menu-item .sub-menu-link{
  display: block;
  letter-spacing: 0;
  color: #666666;
  font-size: 1rem;
  font-weight: 500;
  padding: 35px 10px;
  transition: padding .4s ease;
}

#header #header-wrap .container .header-row .primary-menu .menu-container .menu-item .sub-menu-container .menu-item:hover .sub-menu-link{
  padding-left: 18px;
  background-color: #f8f8f8;
}


#header #header-wrap .container .header-row .primary-menu .menu-container .sub-menu:hover > .menu-link{
  background-color: rgb(169, 169, 169);
}

#header #header-wrap .container .header-row .primary-menu .menu-container .sub-menu:hover .sub-menu-container{
  margin-top: 0;
  opacity: 1;
  visibility: visible;
}



#header #header-wrap.scrollTop{
  background: #fff;
}

#header #header-wrap.scrollTop .container .header-row .primary-menu .menu-container .menu-item .menu-link{
  color: #444;
}

#header #header-wrap.scrollTop .container .header-row .primary-menu .menu-container .sub-menu:hover > .menu-link{
  color: #FFF;
}

#header #header-wrap.scrollTop.scrollTopLogo .container .header-row .primary-menu .menu-container .menu-item .menu-link{
  padding: 30px 15px;
}

#header #header-wrap.scrollTop.scrollTopLogo .container .header-row #logo img {
  height: 60px;
}

#header #header-wrap.scrollTop.scrollTopLogo{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #FFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#page-title{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  text-align: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 4rem 0;
  background-color: #333;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1) !important;
  border-bottom: none;
  background-image: url(img/img-subtitle.jpg);
  background-size: cover;
  background-attachment: unset;
  background-position: center;
}


#page-title .container{
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;

  z-index: 3;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-flow: column;

  max-width: 1520px;
  max-height: 40vh !important;
    min-height: 500px !important;
    position: relative;
}

#page-title .container::after {
  display: block;
  clear: both;
  content: "";
}

#page-title .container h1{
  font-size: 3rem;
  padding: 0;
  margin: 0;
  line-height: 1;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  color: rgba(255,255,255,0.9) !important;
  font-weight: 600;
  letter-spacing: 2px;
}

#page-menu{
  position: relative;
}

#page-menu #page-menu-wrap{
  position: absolute;
    z-index: 199;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    margin-top: -58px;
    background-color: transparent;
    border-top: 1px solid rgba(255, 255, 255, .15);
}

#page-menu #page-menu-wrap .container{
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
  max-width: 1520px;
  position: relative;
}

#page-menu #page-menu-wrap .container .page-menu-row{
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#page-menu #page-menu-wrap .container .page-menu-row .page-menu-nav{
    right: 0;
    height: auto;
    display: flex;
    position: relative;
    width: auto;
    top: 0;
    left: 0;
    background-color: transparent !important;
    flex: 0 0 auto;

    max-width: 100%;
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
}

#page-menu #page-menu-wrap .container .page-menu-row .page-menu-nav .page-menu-container{
    margin: 0;
    display: flex;
    align-items: center;
    list-style: none;
    background-color: transparent;
    overflow-y: auto;
    justify-content: flex-start !important;
    word-break: keep-all;
    width: 100%;
    flex-wrap: nowrap;
}
#page-menu #page-menu-wrap .container .page-menu-row .page-menu-nav .page-menu-container .page-menu-item{
    position: relative;
    flex-grow: 1;
}

#page-menu #page-menu-wrap .container .page-menu-row .page-menu-nav .page-menu-container .page-menu-item > a {
    display: block;
    position: relative;
    line-height: 22px;
    padding: 18px 21px;
    font-size: 18px;
    background-color: transparent;
    border-top: 3px solid #fff;
    color: rgba(255, 255, 255, 1);
    transition: all .2s ease-in-out;
}




#footer{
  position: relative;
  color: rgba(255,255,255,0.75);
  background-color: #282828;
}

#footer #copyrights{
  padding: 40px 0;
  font-size: 0.875rem;
  line-height: 1.8;
  color: rgba(255,255,255,0.4);
}

#footer #copyrights .container{
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
  max-width: 1520px;
}

#footer #copyrights .container .row{
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  margin-bottom: -30px;
  position: relative;
}

#footer #copyrights .container .row > *{
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}


#footer #copyrights .container .row .col{
  flex: 0 0 auto;
  width: 50%;
  text-align: left !important;
  padding-bottom: 30px;
}

#footer #copyrights .container .row .col:nth-child(2){
  text-align: right !important;
}

#footer #copyrights .container .row .col .copyright-links a{
  display: inline-block;
  margin: 0 3px;
  color: #888;
  border-bottom: 1px solid transparent;
}

#footer #copyrights .container .row .col .copyright-links a:hover{
  color: #fff;
  border-bottom: 1px solid #888;
}