<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>jQuery</title>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
      $( document ).ready( function() {
        $( '.check-all' ).click( function() {
            //여기서 this는 check-all을 가리킨다. 
          $( '.ab' ).prop( 'checked', this.checked );
        } );
      } );
    </script>
  </head>
  <body>
    <form>
      <p><input type="checkbox" name="all" id="all" class="check-all"> <label for="all">Check ALL</label></p>
      <hr>
      <p><input type="checkbox" name="cb1" id="cb1" class="ab"> <label for="cb1">Checkbox 1</label></p>
      <p><input type="checkbox" name="cb2" id="cb2" class="ab"> <label for="cb2">Checkbox 2</label></p>
      <p><input type="checkbox" name="cb3" id="cb3" class="ab"> <label for="cb3">Checkbox 3</label></p>
      <p><input type="checkbox" name="cb4" id="cb4" class="ab"> <label for="cb4">Checkbox 4</label></p>
    </form>
  </body>
</html>


https://docs.google.com/spreadsheets/d/1eg4QEuMf7TxuYcGD0YKBEvJCszqONSV-Et5fTkBALhA/edit#gid=0