<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="eJbly.css">
    <title>Document</title>
</head>
<body>
<div class="loading-container">
    <div class="loading"></div>
    <div id="loading-text">loading</div>
</div>

<!--// Link Attribution -->
<!--<a href="http://www.domsammut.com/about#utm_source=web&utm_medium=demo&utm_campaign=CodePen" title="domsammut.com" id="link">domsammut.com</a>-->
</body>
</html>