#wrap {width: 1500px; height: 900px; margin: 0 auto; color:#000000; text-align: center;}
#header {width: 1500px; height: 100px; line-height: 100px; background-color: #f6f6f6;margin-top: 30px}


#nav {width: 1500px; height: 100px; background-color: #fff; padding: 5px 0 5px 0; box-sizing: border-box; float: left}

#nav .toolbar_left {width: 350px; height: 80px; float: left; background-color: #fdfdfd; line-height: 80px}
#nav .toolbar_center {float: left; width: 800px; height: 78px; border: 1px solid #d3d3d3; box-sizing: border-box;}
#nav .toolbar_center .buttons{height: 76px; background-color: #f6f6f6;}
#nav .toolbar_center .buttons ul {height: 76px;overflow: hidden; display: flex; flex-direction: row; justify-content: center; align-items: center;}
#nav .toolbar_center .buttons ul li{ margin-left: 11px;}
#nav .toolbar_center .buttons ul li:first-child {margin-left: 0; }
#nav .toolbar_center .buttons ul li button{ background-color: #fff; width: 40px; height: 40px; border: 1px solid #bcbcbc; padding: 5px;box-sizing: border-box;display: block; font-size: 10px; text-align: center;border-radius: 3px; transition: all 0.3s ease;}
#nav .toolbar_center .buttons ul li button:hover {background-color: #f0f0f0; border-color: #666; color: #000; cursor: pointer;}
#nav .toolbar_center .buttons ul li button.active {background-color: #f0f0f0; border-color: #666; color: #000; cursor: pointer;}
#nav .toolbar_center .buttons ul li button i{font-size: 20px; }

#nav .toolbar_right {float: right; width: 350px; height: 80px; background-color: #fdfdfd; line-height: 80px}

#container{
  clear: both;
 float: left; width: 1500px;
}

#side_left {float: left; width: 350px; line-height: 600px;  height: 600px; background-color: #f6f6f6;}

#contents {float: left; width: 800px; height: 600px; }
#contents .image_area {
  height: 500px;
  width: 800px;
  margin: 0 auto;
  position: relative;
  border: 1px solid blue;
}
#contents .image_area #imageWrapper{
  height: 500px;
  width: 500px;
  position: absolute;
  border: 1px solid red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
#contents .image_area #imageWrapper #canvasWrapper{
  height: 500px;
  width: 500px;
  position: absolute;
  left: 0px;
  top: 0px;
  border: 1px solid violet;
  background-color: violet;
}


#eraserIcon{
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  display: none;
  pointer-events: none;
}


#contents .image_control_area {overflow: hidden; padding-top: 10px; margin: 0 5px 0 5px;}
#contents .image_control_area .button_area {float: left; width: 50%; height: 80px; background-color: #fff; box-sizing: border-box; padding: 0 10px 0 10px ;}
#contents .image_control_area .info_area   {float: left; width: 50%; height: 80px; border: 1px solid #d3d3d3; box-sizing: border-box; padding: 4px; border-radius: 5px;}
#contents .image_control_area .button_area .buttons{height: 40px;}
#contents .image_control_area .button_area .buttons ul {overflow: hidden;}
#contents .image_control_area .button_area .buttons ul li{float: left; margin-left: 11px;}
#contents .image_control_area .button_area .buttons ul li:first-child {margin-left: 0;}
#contents .image_control_area .button_area .buttons ul li button{ background-color: #fff; width: 40px; height: 40px; border: 1px solid #bcbcbc; padding: 5px;box-sizing: border-box;display: block; font-size: 10px; text-align: center;border-radius: 3px; transition: all 0.3s ease;}
#contents .image_control_area .button_area .buttons ul li button:hover {background-color: #f0f0f0; border-color: #666; color: #000; cursor: pointer;}
#contents .image_control_area .button_area .slider{ height: 40px; box-sizing: border-box; line-height: 40px;}
#contents .image_control_area .button_area .slider ul{ overflow: hidden; }
#contents .image_control_area .button_area .slider ul li{ float: left; width: 50%; height: 40px; box-sizing: border-box; padding-top: 5px;}
#contents .image_control_area .button_area .slider #rate {
  -webkit-appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
  width: 100%; /* 슬라이더 길이 */
  height: 15px; /* 슬라이더 두께 */
  border-radius: 5px; /* 슬라이더 모서리를 약간 둥글게 */
  background: #e8e8e8; /* 슬라이더 색상 */
  outline: none; /* 슬라이더 테두리 없이 */
}
/* 슬라이더 핸들(클릭해서 드래그하는 부분) 커스텀 
(Chrome, Opera, Safari, Edge 브라우저를 위해서는 -webkit-을,
Firefox 브라우저를 위해서는 -moz- 를 사용하세요 */
#contents .image_control_area .button_area .slider #rate::-webkit-slider-thumb {
  -webkit-appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
  appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
  width: 25px; /* 슬라이더 핸들 길이 */
  height: 25px; /* 슬라이더 핸들 높이 */
  border-radius: 50%; /* 핸들 모양을 원모양으로 만들기 위함 */
  background: #aaaaaa; /* 슬라이더 핸들 색상 */
  cursor: pointer; /* 슬라이더 핸들에 마우스를 갖다대면 포인터로 변경 */
}
#contents .image_control_area .button_area .slider #rate::-moz-range-thumb {
  width: 25px; /* 슬라이더 핸들 길이 */
  height: 25px; /* 슬라이더 핸들 높이 */
  border-radius: 50%; /* 핸들 모양을 원모양으로 만들기 위함 */
  background: #00f; /* 슬라이더 핸들 색상 */
  cursor: pointer; /* 슬라이더 핸들에 마우스를 갖다대면 포인터로 변경 */
}
#contents .image_control_area .info_area .coordinate{}
#contents .image_control_area .info_area .coordinate ul li{position: relative; float: left; width: 50%; height: 40px; box-sizing: border-box; padding-top: 8px;}
#contents .image_control_area .info_area .coordinate ul li::after{content: ""; position: absolute; background-color: #c4c4c4; width: 50px; height: 1px; left: 20px; bottom: 10px;}
#contents .image_control_area .info_area .rgb{}
#contents .image_control_area .info_area .rgb ul li{position: relative; float: left; width: 33.33%; height: 40px; box-sizing: border-box; padding-top: 8px;}
#contents .image_control_area .info_area .rgb ul li::after{content: ""; position: absolute; background-color: #c4c4c4; width: 50px; height: 1px; left: 20px; bottom: 10px;}
#contents .image_control_area .info_area p{text-align: left;}
#contents .image_control_area .info_area .info_text{padding: 5px; text-align: left; border: 1px solid #c4c4c4; border-radius: 5px;}
#contents .image_control_area .info_area .info_value{padding: 5px; text-align: left; }


#side_right {float: right; width: 350px; line-height: 600px;  height: 600px; background-color: #f6f6f6;}


#footer {clear: both; width: 1500px; height: 100px; line-height: 100px; background-color: #fff; border: 1px solid #d3d3d3;}