<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
  <script src='main.js'></script>
</head>
<body>
  <section>
    <ul class="page">
      <a href="#page">
        <li>
          Previous
        </li>
      </a>
      <a href="#page">
        <li>
          Next
        </li>
      </a>
      <a href="#page">
        <li>
          1
        </li>
      </a>
      <a href="#page" class="active">
        <li>
          2
        </li>
      </a>
      <a href="#page">
        <li>
          3
        </li>
      </a>
      <a href="#page">
        <li>
          4
        </li>
      </a>
      <a href="#page">
        <li>
          5
        </li>
      </a>
      <a href="#page">
        <li>
          ...
        </li>
      </a>
      <a href="#page">
        <li>
          21
        </li>
      </a>
    </ul>
  </section>
</body>
</html>