@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
  --mainColor: #df7599;
  --black: #333;
  --blackDarker: #555;
  --gray: #9a9b94;
  --grayDarker: #52524e;
  --standardTransition: background-color .3s, 
    opacity .5s, visibility .5s;
}
/*Back to top styles*/
.button {
  display: inline-block;
  background-color: var(--mainColor);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: --standardTransition;
  visibility: hidden;
  z-index: 1000;
}
.button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: white;
}
.button:hover {
  cursor: pointer;
  background-color: var(--black);
}
.button:active {
  background-color: var(--blackDarker);
}
.button.show {
  opacity: 1;
  visibility: visible;
}

/*Content styles here*/
.content {
  width: 77%;
  margin: 50px auto;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  color: var(--gray);
  line-height: 1.9;
  text-align: justify;
}
@media (min-width: 768px) {
  .content {
    width: 45%;
  }
  .button {
    margin: 30px;
  }
}
.content h1 {
  margin-bottom: -10px;
  color: var(--mainColor);
  line-height: 1.5;
}
.content h3 {
  color: var(--grayDarker);
}