.container{
  content: "";
  display: block;
  clear: both;
  width: 1000px;
  margin: 0 auto;
}

.sub-left-container {
  float: left;
  width: 20%;
  height: 700px;
}

.sub-left-container .sub-left-container-top {
  background-color: rgb(166, 239, 182);
  height: 56px;
}
.sub-left-container .sub-left-container-top table{
  width: 100%;
}
.sub-left-container .sub-left-container-top table th{
  border: 1px solid black;
}
.sub-left-container .sub-left-container-top table .main{
  width: 100%;
}
.sub-left-container .sub-left-container-top table .sub{
  width: 50%;
}

.sub-left-container .sub-left-container-bottom {
  background-color: rgb(222, 236, 119);
  height: 660px;
  overflow-y: hidden;
  overflow-x: scroll;
}
.sub-left-container .sub-left-container-bottom::-webkit-scrollbar {
  width: 17px;
}
.sub-left-container .sub-left-container-bottom::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}
.sub-left-container .sub-left-container-bottom::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
}

.sub-left-container .sub-left-container-bottom table{
  width: 100%;
}
.sub-left-container .sub-left-container-bottom table th{
  border: 1px solid black;
  width: 50%;
}

.sub-right-container {
  position: relative;
  float: right;
  width: 80%;
  height: 700px;
}

.sub-right-container .sub-right-container-top {
  box-sizing: border-box;
  background-color: rgb(245, 133, 133);
  height: 56px;
  width: 817px;
  overflow-x: hidden;
  overflow-y: scroll; 
  position: relative;
}
.sub-right-container .sub-right-container-top::-webkit-scrollbar {
  width: 17px;
}
.sub-right-container .sub-right-container-top::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}
.sub-right-container .sub-right-container-bottom::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
}



.sub-right-container .sub-right-container-top table{
  width: 2400px;
}
.sub-right-container .sub-right-container-top table th{
  border: 1px solid black;
}
.sub-right-container .sub-right-container-top table .main{
  width: 300px;
}
.sub-right-container .sub-right-container-top table .sub{
  width: 150px;
}

.sub-right-container .sub-right-container-bottom {
  background-color: rgb(156, 203, 227);
  height: 660px;
  width: 817px;
  overflow: scroll;
}

.sub-right-container .sub-right-container-bottom::-webkit-scrollbar {
  width: 17px;
}
.sub-right-container .sub-right-container-bottom::-webkit-scrollbar-track {
  background-color: white;
}
.sub-right-container .sub-right-container-bottom::-webkit-scrollbar-thumb {
  background-color: rgb(204, 204, 204);
}


.sub-right-container .sub-right-container-bottom table{
  width: 2400px;
}
.sub-right-container .sub-right-container-bottom table td{
  border: 1px solid black;
  width: 150px;
}