<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='style.css'>
  <script src='main.js'></script>
</head>
<body>
  <div class="card-container">
    <div class="card">
      <img src="image/mountain-1.png">
      <div class="card-content">
        <h3>Card 1</h3>
        <p>
          Creating Responsive CSS Cards | Card Design HTM & CSS
          In this video, we explore the process of designing and coding responsive CSS cards that will elevate your web design skills.
        </p>
        <a href="" class="btn">Read More</a>
      </div>
    </div>
    <div class="card">
      <img src="image/mountain-2.png">
      <div class="card-content">
        <h3>Card 1</h3>
        <p>
          Creating Responsive CSS Cards | Card Design HTM & CSS
          In this video, we explore the process of designing and coding responsive CSS cards that will elevate your web design skills.
        </p>
        <a href="" class="btn">Read More</a>
      </div>
    </div>
    <div class="card">
      <img src="image/mountain-3.png">
      <div class="card-content">
        <h3>Card 1</h3>
        <p>
          Creating Responsive CSS Cards | Card Design HTM & CSS
          In this video, we explore the process of designing and coding responsive CSS cards that will elevate your web design skills.
        </p>
        <a href="" class="btn">Read More</a>
      </div>
    </div>
  </div>
</body>
</html>