@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  /* min-height: 100vh; */
  padding-top: 90px;
  padding-bottom: 65px;
  background-size: cover;
  background-position: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  display: flex;
  justify-content: space-between; /*가로 양끝*/
  align-items: center;
  z-index: 100;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  backdrop-filter: blur(50px);
  z-index: -1;
}

.logo{
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

#check{
  display: none;
}

.navbar{
  display: flex;
}

.navbar .nav-list, .nav-login{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navbar .nav-list li a, .nav-login li a{
  font-size: 1.15rem;
  color: #fff;
  font-weight: 500;
  margin-left: 2.5rem;
}

#register-header, #login-header{
  display: none;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

#menu-user, #menu-login{
  font-size: 1.3rem;
  margin-right: 0.5rem;
  vertical-align: middle; /*inline inline-block 만 적용 세로 정렬*/
  font-size: 1.75rem;
}

#user_register img{
  vertical-align: middle; /*inline inline-block 만 적용 세로 정렬*/
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 7px;
}

#user_register .user_name{
  vertical-align: middle; /*inline inline-block 만 적용 세로 정렬*/
  display: inline-block;
}

#user_register .user_detail{
  vertical-align: middle; /*inline inline-block 만 적용 세로 정렬*/
  display: inline-block;
  width: 32px;
  height: 32px;
  background: white;
  border-radius: 50%;
  margin-left: 5px;
  color: #098ffd;
  font-weight:bold ;
  text-align: center;
  line-height: 33px;
}

#contents .container {
  position: relative; 
  width: 1200px; 
  margin: 0 auto;
  margin-top: 10px;
}

#contents .container #cont_left{
  float: left; 
  width: 50%; 
}

#contents .container #cont_right
{
  float: left; 
  width: 50%; 
}

#contents .container #cont_bottom
{
  clear: both;
  content: '';
  width: 100%; 
}

#contents .container .cont{
  padding: 5px;
}

.panel-body::after{
  display: table;
  content: "";
  clear: both;
}

#contents .container .cont .panel
{
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

#contents .container .cont .panel .panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  color: #333;
  background-color: #f5f5f5;
}

#contents .container .cont .panel .panel-body {
  padding: 15px;
}

.col-md-3 {
  width: 25%;
  float: left;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 15px;
}

.thumbnail {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.thumbnail > img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 187px;
  margin: 0 auto;
}

.thumbnail .caption {
  padding: 9px;
  color: #333;
}

.thumbnail .caption h3{
  color:#444;
  font-size: 22px;
  padding:10px 0;
}

.thumbnail .caption p{
  color:#777;
  font-size: 15px;
  line-height: 1.8;
}

.thumbnail .caption .btn{
  margin-top: 10px;
  display: inline-block;
  background:#333;
  color:#fff;
  font-size: 17px;
  border-radius: 5px;
  padding: 8px 25px;
}

.thumbnail .caption .btn:hover{
  letter-spacing: 1px;
}

.thumbnail:hover{
  box-shadow: 0 10px 15px rgba(0,0,0,.3);
  transform: scale(1.03);
}


.content-table {
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

footer {
  text-align: center;
  background: #333;
  color: #fff;
  padding: 20px;
  bottom: 0;
  width: 100%;
  position: fixed;
  z-index: 101;
}

@media (max-width: 1385px) {
  #contents .container {position: relative; width: 1100px; margin: 0 auto;}
}

@media (max-width: 1245px) {
  .header{
    padding: 1.3rem 5%;
  }
}

@media (max-width: 1160px) {
  #contents .container {
    position: relative; width: 1000px;
  }
  #contents .container .cont .panel .panel-body {
    padding: 15px 0;
}
}

@media (max-width: 1125px) {
  .icons {
    display: inline-flex; /*  역역 안에서 flexable하게 인데 가로로 먹음 https://happygunja.tistory.com/83*/
  }

  #check:checked~.icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked~.icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    width: 100%;
    background: #4d4d4d;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    transition: .3s ease;
  }

  .navbar .nav-list{
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }

  #check:checked~.navbar {
    height: 25.7rem;
  }

  #register-header, #login-header{
    display: inline-block;
  }

  #user_register, #user_login, #main_register{
    display: none;
  }

  .navbar .nav-list li a{
    display: block;
    width: 100%;
    font-size: 1.1rem;
    margin: 1rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
  }

  #check:checked~.navbar .nav-list li a{
    transition: .3s ease;
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 1020px) {
  #contents .container {
    position: relative; width: 100%
  }

  #contents .container #cont_left{
    width: 100%;
  }
  
  #contents .container #cont_right
  {
    width: 100%;
  }
  .col-md-3 {
    width: 33.333%;
    float: left;
  }
}

@media (max-width: 850px) {
  .col-md-3 {
    width: 50%;
    float: left;
  }
}

@media (max-width: 600px) {
  .content-table th:nth-child(6) ,td:nth-child(6){
    display: none;
  }
}

@media (max-width: 550px) {
  .col-md-3 {
    width: 100%;
  }
  .thumbnail{
    padding: 30px;
  }
  .thumbnail > img {
    height: 250px;
  }
}

@media (max-width: 500px) {
  .content-table th:nth-child(5) ,td:nth-child(5){
    min-width: none;
    display: none;
  }
}

@media (max-width: 380px) {
  .content-table th:nth-child(4) ,td:nth-child(4){
    display: none;
  }
}

@media (max-width: 280px) {
  .content-table th:nth-child(3) ,td:nth-child(3){
    display: none;
  }
}